/*

!/.gitignore

!/emacs
/emacs/*
!/emacs/modes
/emacs/modes/standard/*-custom.el
/emacs/modes/basic/*-custom.el
!/emacs/snippets
!/emacs/core.el
!/emacs/lib.el
!/emacs/init.el

!/LICENSE
!/README.md
